<head>

</head>

<body>

<h2>Welcome to My News Site, where everything is totally legit!!</h2>

<ul>
    {% for foo in data %}
        <li>{{ foo.title }}, by {{ foo.author }}</li>
        <ul>
            <li>{{ foo.body }}</li>
        </ul>
    {% endfor %}
</ul>



</body>
